{% extends 'index.html' %}
{% block title %}Category{% endblock %}

{% block content %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block main %}
    <h1>{{Category}}</h1>

<div class="container1">
	<div class="row">
        {% for duct in ducts %}
	<div class="column">
		<div class="frame">
			<div class="img"><img src="{{duct.img.url}}" alt=""></div>
            <div class="cont"><h2>{{duct.name}}</h2>
			<h2>{{duct.desc}}</h2>
			<h2>{{duct.price}}</h2>

			ID:{{duct.id}}
			{% if duct.offer %}
			<h2><strike>LE  {{duct.price}}</strike>
				LE  {{duct.sale_price}}  Now</h2>

			<h2 style="background:red;color:white">* sale !!!! *</h2>

			{% endif %}

			</div>


		<div class="quantity">
			<button style="width:150px;" data-product="{{duct.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart" id="add-cart">add cart</button>
			<button style="background:green;color:white;" data-product="{{duct.id}}" data-action="remove" class="chg-quantity update-cart">remove</button>
		</div>
		</div>
	</div>

	{% endfor %}

	</div>
</div>

<script>
var updateButtons = document.getElementsByClassName('update-cart')

	for(var i=0; i<updateButtons.length; i++){
	   updateButtons[i].addEventListener('click', function(){
		   var productId = this.dataset.product
		   var action = this.dataset.action
		   console.log('productId:',productId, 'action:', action )

		   console.log('USER:', user)

			if(user ==='AnonymousUser'){
				addCookieItem(productId, action)
			}else{
				updateUserOrder(productId, action)

			}

	   })
	}



</script>


{% endblock %}