<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reset</title>
</head>
<body>
    <h1>reset your password</h1>

    <form method="POST" style="color:red">
        {% csrf_token %}
        <input type="email" name="email" placeholder="email"><br><br>
        <input type="password" name="new_password1" placeholder="password"><br><br>
        <input type="password" name="new_password2" placeholder="confirm password"><br><br>

        {% for field in form %}
            {% for error in field.errors %}
        <p style="color:red">{{error}}</p>
            {% endfor %}
        {% endfor %}
        <button type="submit">save</button>
    </form><br><br>
        <h2>confirm new password</h2>


</body>
</html>